<% provide(:title, "Buttons") %>

<div class="container"> 
  
  <%= link_to "Add Button", buttons_new_path, class: 'btn btn-primary' %>

  <%= form_tag buttons_destroy_path, method: :delete do %>
    <h3 class="work-button-label" >Work Buttons</h3>

    <ul style="list-style:none">
      <% @buttons.each do |i| %>
        <% if i.is_work %>
          <li>
            <%= check_box_tag "delete[#{i.id}]", i.description %> <%= i.description %> 
            <%= link_to "Edit", buttons_update_path(:button_id => i.id), method: :get %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <hr/>

    <h3 class="relax-button-label">Relax Buttons</h3>
    <ul style="list-style:none">
      <% @buttons.each do |i| %>
        <% if !i.is_work %>
          <li> 
            <%= check_box_tag "delete[#{i.id}]", i.description %> <%= i.description %> 
            <%= link_to "Edit", buttons_update_path(:button_id => i.id), method: :get %>
          </li>

        <% end %>
      <% end %>
    </ul>

    <hr/>

    <%= submit_tag "Delete Selected", class: "btn btn-danger" %>
  <% end %>
</div>