<% provide(:title, "Edit Button") %>

<h2>Update Button</h2>

<p> Edit: "<%= @button.description %>" Button  </p>

<hr/>

<%= form_for(:buttons, url: button_path(button_id: params[:id]), method: :patch) do |f| %>

  <div class="form-group">
    <%= f.select :work_relax, options_for_select([["Work", true, {class: 'work-option'}], ["Relax", false, {class: 'relax-option'}]], @button.is_work), {selected: "Relax"}, {class: 'form-control input-small'} %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, value: @button.description, class: 'form-control' %>
  </div>

  <hr/>

  <%= f.submit "Update Button", class: 'btn btn-success' %>

<% end %>

<%= link_to "Back to buttons", buttons_path %>
