<% provide(:title, "Summary") %>
<% user = current_user %>
<h1 style="display: inline; margin-right: 10px">Summary</h1>  <%= link_to "Back to timer", user_path(id: user.id) %>
<hr/>
<% user = current_user %>

<h3>Work Summary</h3>

<% if !@work_records.blank? %>
 
  <div>
      <a href="#work-graph" data-toggle="collapse" aria-expanded="false" aria-controls="work-graph"> Show/Hide Graph</a>
      <div id="work-graph" class="collapse in" data-toggle="collapse">
        <%= image_tag @work_graph %>
      </div>
  </div>
  <p id="total-work">Total Work: <%= total_time(@totalWork) %> </p>
<% end %>

<div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Time Spent</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @work_records.each do |record| %>
        <% time_spent = record.time_spent %>
        <tr>
          <td> <%= record.description %> </td>
          <td> <%= (record.created_at).in_time_zone("EST").strftime("%D, %r") %> </td>
          <td> <%= (record.created_at + time_spent).in_time_zone("EST").strftime("%D, %r") %> </td>
          <td> <%= total_time(time_spent) %> </td>
          <td> <%= link_to "Delete", user_summary_path(user_id: user.id, record_id: record.id), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<hr/>
<h3>Relax Summary</h3>

<% if !@relax_records.blank? %>
  <div>
    <a href="#relax-graph" data-toggle="collapse" aria-expanded="false" aria-controls="work-graph"> Show/Hide Graph</a>
    <div id="relax-graph" class="collapse in" data-toggle="collapse">
      <%= image_tag @relax_graph %>
    </div>
  </div>
  <p id="total-relax">Total Relax: <%= total_time(@totalRelax) %> </p>
<% end %>

<div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Time Spent</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @relax_records.each do |record| %>
        <% time_spent = record.time_spent %>
        <tr>
          <td> <%= record.description %> </td>
          <td> <%= (record.created_at).in_time_zone("EST").strftime("%D, %r") %> </td>
          <td> <%= (record.created_at + time_spent).in_time_zone("EST").strftime("%D, %r") %> </td>
          <td> <%= total_time(time_spent) %> </td>
          <td> <%= link_to "Delete", user_summary_path(user_id: user.id, record_id: record.id), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to "Back to Timer", user_path(id: user.id), class: "btn btn-default" %></p>
</div>
