<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "Work For Free", root_path, id: "logo" %>
    <nav>
      <div class="container">
        <div id="nav-buttons" class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= link_to "Logout", delete_user_session_path, :method => :delete, class: "btn btn-primary navbar-btn" %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary navbar-btn" %>
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success navbar-btn" %>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "About", about_path %></li>    
        </ul>
      </div>
    </nav>
  </div>
</header>